{% extends "layout.html.twig" %}

{% block title %}OpenSnippet &#149; Nouveau snippet{% endblock %}

{% block js %}
        <script type="text/javascript">
            var available_tags = [ {% for tag in tags %}'{{ tag['name']|e('js') }}',{% endfor %} ];
            var assigned_tags = [];
        </script>
        <script type="text/javascript" src="{{ app.request.basePath ~ '/js/snippet.js' }}"></script>
{% endblock %}

{% block breadcrumb %}
                        <li>
                            <a href="{{ url('homepage') }}">Accueil</a>
                            <span class="divider"><i class="icon-angle-right"></i></span>
                        </li>
                        <li class="active">Nouveau snippet</li>
{% endblock %}

{% block page_title %}Nouveau snippet{% endblock %}

{% block content %}
                        <form role="form" action="{{ url('snippet_new_post') }}" method="post">
                            <section class="module">
                                <div class="module-head">
                                    <b>Nouveau snippet</b>
                                </div>
                                <div class="module-body">
                                    {% include "Snippet/_edit.html.twig" %}
                                </div>
                                <div class="module-foot">
                                    <div class="actions">
                                        <button type="reset" class="btn btn-warning">
                                            Annuler
                                        </button>
                                        <button type="submit" class="btn btn-success">
                                            Enregistrer
                                        </button>
                                    </div>
                                </div>
                            </section>
                        </form>
{% endblock %}